<!--Sección "Educación"-->
<section class="educacion">
    <h2 class="subtitulo educ">Educación</h2>
    <div class="container text-center exp">
        <div class="container primeraeduc">
            <div class="row educ">
                <div class="col-3">
                    <div><i class="fa-brands fa-linkedin fa-2xl"></i></div>
                    <div><h4 class="titulo-item">Nombre institución</h4></div>
                </div>
                <div class="col-7">
                    <div class="titulo">
                        <div class="carrera-periodo">
                            <h3>Carrera o título</h3>
                            <h4>Período</h4>
                        </div>
                    </div>
                </div>
                <div class="col-2">
                    <button type="button" class="btn btn-primary">Editar</button>
                    <button type="button" class="btn btn-secondary">Eliminar</button>
                </div>
            </div>
        </div>
    </div>
    <div class="container text-center exp2">
            <div class="row educ">
                <div class="col-3">
                    <div><i class="fa-brands fa-linkedin fa-2xl"></i></div>
                    <div><h4 class="titulo-item">Nombre institución</h4></div>
                </div>
                <div class="col-7">
                        <div class="titulo">
                            <div class="carrera-periodo">
                                <h3>Carrera o título</h3>
                                <h4>Período</h4>
                            </div>
                        </div>
                </div>
                <div class="col-2">
                    <button type="button" class="btn btn-primary">Editar</button>
                    <button type="button" class="btn btn-secondary">Eliminar</button>
                </div>
            </div>  
    </div>
    <div class="container text-center exp3">
            <div class="row educ">
                <div class="col-3 ">
                    <div><i class="fa-brands fa-linkedin fa-2xl"></i></div>
                    <div><h4 class="titulo-item">Nombre institución</h4></div>
                </div>
                <div class="col-7">
                        <div class="titulo">
                            <div class="carrera-periodo">
                                <h3>Carrera o título</h3>
                                <h4>Período</h4>
                            </div>
                        </div>
                </div>
                <div class="col-2">
                    <button type="button" class="btn btn-primary">Editar</button>
                    <button type="button" class="btn btn-secondary">Eliminar</button>
                </div>
            </div>
    </div>
    <div class="card educ">
        <div class="card-body educ">
            <div class="card-title">
                <h3>Agregar</h3> 
            </div>
            <br>
            <div class="input-group input-group-lg">
                <span class="input-group-text" id="inputGroup-sizing-lg">Institucion</span>
                <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
              </div>
            <br>
            <div class="input-group input-group-lg">
                <span class="input-group-text" id="inputGroup-sizing-lg">Carrera</span>
                <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
              </div>
            <br>
            <div class="input-group input-group-lg">
                <span class="input-group-text" id="inputGroup-sizing-lg">Período</span>
                <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
              </div>
              <br>
            <button class="btn btn-primary">
                Enviar
            </button>
            
        </div>
    </div>
    <div>
    </div>
</section>