<div class="nav navbar navbar-dark bg-primary">
    <div class="container-md">
        <img src="/assets/IMG/arg-programa logo.png" alt="Bootstrap" height="75">
        <ul class="list-group list-group-horizontal">
            <li class="list-group-item"><i class="fa-brands fa-instagram fa-2xl"></i></li>
            <li class="list-group-item"><i class="fa-brands fa-linkedin fa-2xl"></i></li>
            <!-- Button trigger modal -->
            <li class="list-group-item">
                <a href="/Front end/login.html"></a><i class="fa-solid fa-user fa-2xl" type="button"></i>
            </li>
            <li><button type="button" class="btn btn-outline-light">Log-in</button></li>
        </ul>
    </div>
</div>