i.fa-brands.fa-linkedin.fa-2xl:hover {
    color: rgb(24, 95, 167);
}

i.fa-brands.fa-instagram.fa-2xl:hover {
    color: rgb(179, 55, 28);
}

i.fa-solid.fa-user.fa-2xl:hover {
    color: rgb(21, 147, 34);
}