<section class="proyectos">
    <h2 class="subtitulo">Proyectos</h2>
    <ul class="list-group list-group-horizontal" style="width: 15rem; height: 25rem;">
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <div class="card proyecto">
                <img class="card-img-top" src="assets/IMG/proyecto1.webp" alt="Card image">
                <div class="card-body">
                  <h3 class="card-title">Portfolio web</h3>
                  <p class="card-text">Elaborado en "Argentina Programa"</p>
                  <a href="#" class="btn btn-primary btn-proyecto">Ir al proyecto</a>
                </div>
              </div>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <div class="card">
                <img class="card-img-top" src="assets/IMG/Proyecto2.jpeg" alt="Card image">
                <div class="card-body">
                  <h3 class="card-title">Desarrollo Web</h3>
                  <p class="card-text">Some example text.</p>
                  <a href="#" class="btn btn-primary btn-proyecto">Ir al proyecto</a>
                </div>
              </div>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <div class="card">
                <img class="card-img-top" src="assets/IMG/Proyecto 3.jpeg" alt="Card image">
                <div class="card-body">
                  <h3 class="card-title">Angular</h3>
                  <p class="card-text">Another example text</p>
                  <a href="#" class="btn btn-primary btn-proyecto">Ir al proyecto</a>
                </div>
              </div>
        </li>
      </ul>
</section>

