
<div class="">
    <div class="row acerca">
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 offset-md-1">
            <div>
                <img src="" alt="..." class="img-fluid" height="50px" width="50px">
            </div>
        </div>
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <h4 class="acerca">{{persona.nombre}} D'negri</h4>
            <br>
            <h5 class="acerca">Full Stack Developer Jr.</h5>
        </div>
        <div class="col-7">
            <h3>{{title}}</h3>
            <br>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Natus hic tempora amet modi placeat 
            facilis consequuntur adipisci, 
            corporis esse inventore 
            molestiae pariatur numquam. 
            Minima magni nobis rem voluptatem quidem eos?</p>
        </div>
    </div>
</div>
