<section>
    <div class="">
        <div class="row acerca">
        <div class="col-md-3 offset-md-1">
            <div>
                <img src="assets/IMG/Coliseo 48.jpg" alt="..." class="rounded-circle" width="210" height="200">
            </div>
            <h4 class="acerca">Eduardo D'negri</h4>
            <h5 class="acerca">Full Stack Developer Jr.</h5>
        </div>
        <div class="col-7">
            <h3>{{title}}</h3>
            <br>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Natus hic tempora amet modi placeat facilis consequuntur adipisci, 
            corporis esse inventore molestiae pariatur numquam. 
            Minima magni nobis rem voluptatem quidem eos?</p>
        </div>
        </div>
    </div>
</section>