body {
    background: #7F7FD5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.container.text-center {
    margin-top: 50px;
    width:auto;
    padding: 0ex;
    border-radius: 13px;
}

.btn.btn-primary {
    float: left;
}

.img-fluid {
    height: 500px;
    width: 1270px;
    border-radius: 13px;
}

h2.subtitulo {
    font-size: 50px;
    text-align: left;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    margin: 0.5em;

}

h4.titulo-item {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    margin-bottom: 40px;
    margin-top: 40px;
}

.texto {
    border-left: 3px solid #1C6EA4;
    text-align: left;
    padding-left: 2em;
}

.titulo {
    border-left: 3px solid #1C6EA4;
    height: 150px;
    padding-left: 2em;
}

.carrera-periodo {
    padding-top: 40px;
}


.row {
    background-color:rgb(251, 251, 242);
    padding: 1rem;
    border: 1px solid #6a7781;
    border-radius: 13px;
    margin: 100px
}


div.col-10 {
    padding: 0em;
    margin-top: 0em;
}

div.arco {
    margin-top: 5em;
    padding: 0em;
}

div.row.acerca {
    background-color:white;
}

.top {
    width: 300px;
    float: left;
    height:100px;
    background:rgb(251, 251, 242);
    margin:10px;
    border-radius: 13px;
}

.experiencia {
    padding: 2em;
    background-color: rgb(220, 139, 139);
    border-radius: 13px;
    margin-bottom: 4em;
}



.container.skills {
    margin-bottom: 2em;
}

.hardsoftskills {
    border-radius: 13px;
    font-size:60px;
    text-align: left;
    border-radius: 13px;
    margin-bottom: 2em;
    background-color: white;
    border: 1px solid #6a7781;
}

.proyectos{
    border-radius: 13px;
    margin-bottom: 3em;
    background-color: white;
    border: 1px solid #6a7781;
    height: 700px;
}

.progress {
    margin: 2em;
}

ul {
    margin-block-start: 2em;
    margin-block-end: 2em;
    margin-inline-start: 15px;
    margin-inline-end: 15px;
    padding-inline-start: 40px;
}

li {
    margin-left: 50px;
}


.list-group.list-group-item {
    width:auto;
    height:auto;
}

.login-form {
    margin-top: 10%;
}

.Idiomas {
    margin-bottom: 10em;
}

.list-group-item.d-flex.justify-content-between.align-items-center {
    box-sizing: content-box;
    height: 700px;
    padding-top: 0.75em;
    height: auto;
    box-shadow: 2px 2px 7px 1px rgba(28,110,164,0.63);
}

.list-group.list-group-horizontal {
    align-content:center;
    padding-left: 5em;
}

.list-group.list-group-horizontal.educacion {
    object-fit:cover
}

.ingles-titulo {
    padding-left: 1em;
}

.btn.btn-primary.btn-proyecto {
    float: none;
}